@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Source+Code+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  @apply font-semibold tracking-wide text-primary active:font-bold transition-colors duration-200
}
.active-style{
  @apply underline underline-offset-8 decoration-2 decoration-accent hover:text-orange-500
}

.default{
  @apply font-bold tracking-wide text-gray-700 transition-colors duration-200 hover:text-accent
}

.awesome-btn{
  @apply bg-gradient-to-r from-indigo-500 to-indigo-600 hover:from-indigo-400 hover:to-indigo-500 text-white font-semibold
}

.gradient-text{
  @apply text-xl font-bold text-transparent bg-gradient-to-r from-purple-500 to-pink-500 bg-clip-text animate-pulse
}

.login-active{
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}
.login-btn{
  @apply text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-slate-600 duration-300 transition
}
.footer-span{
  @apply cursor-pointer text-slate-200 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:text-blue-500
}
.footer-ul{
  @apply cursor-pointer list-disc text-slate-200 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:text-blue-500
}
.seller{
  @apply bg-slate-700 p-2 px-5 w-full text-center tracking-wider shadow-md font-bold text-white md:text-xl text-[16px] my-2 rounded
}
.blog-article{
  @apply p-6 bg-white rounded-lg border-4 border-accent shadow-md dark:bg-gray-800 dark:border-gray-700
}
.table-th{
  @apply px-6 py-3 font-bold text-left text-white tracking-wider text-[14px] md:text-[16px] uppercase
}
.form-input{
  @apply w-full px-4 py-2 text-gray-800 border border-gray-400 rounded-md focus:outline-none focus:border-primary
}

.table-head{
  @apply px-6 py-3 bg-slate-600 text-left text-xs text-white font-bold uppercase tracking-wider
}
.table-data{
  @apply px-6 py-4 whitespace-nowrap text-sm text-gray-500 font-medium tracking-wide
}


.d-nav-link{
  @apply flex items-center px-4 py-2 mt-5  transition-colors duration-300 transform  hover:bg-gray-300 dark:hover:bg-slate-600 dark:rounded-md rounded-md hover:text-gray-700 dark:text-white

}

.footer-span{
  @apply cursor-pointer text-slate-200 transition-colors duration-300 dark:text-gray-300 dark:hover:text-warning hover:underline hover:text-info
}
.footer-ul{
  @apply cursor-pointer list-disc text-slate-200 transition-colors duration-300 dark:text-gray-300 dark:hover:text-warning hover:underline hover:text-info
}