@import url('https://fonts.googleapis.com/css2?family=Merienda&family=PT+Serif+Caption&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}
html{
  overflow-x:hidden;
}
